body {
  font-family: "Helvetica Neue", "Microsoft YaHei", Tohoma;
  font-size: 12px;
  color: #333;
}
body {
  min-height: 2000px;
  padding-top: 50px;
}
.navbar-nav > li > a {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.navbar-right > li > a {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.navbar .logo {
  background-image: url("../img/icenter.32-man140324161408.png?");
  background-position: 0 0;
  height: 41px;
  line-height: 123px;
  overflow: hidden;
  width: 90px;
  margin-right: 15px;
}
.navbar .avatar {
  margin: 0 10px;
}
.navbar .my-nav-toggle {
  float: none;
  padding: 7px 10px;
}
.navbar .my-nav-toggle span {
  font-size: 15px;
}
@media (max-width: 992px) {
  .navbar .my-nav-toggle {
    display: block;
  }
}
.my-dropdown-panel {
  background-clip: padding-box;
  background-color: #222;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  left: auto;
  right: 0;
  list-style: none outside none;
  margin-top: 1px;
  min-width: 160px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding: 15px 15px 0px;
}
.background-container {
  background-attachment: scroll;
  background-image: url("../img/72019_top.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.header {
  background: none no-repeat scroll 0% 0% transparent;
  height: 300px;
}
.header .container {
  position: relative;
  height: 100%;
}
.header .head-info {
  color: #5D7895;
  position: absolute;
  left: 0;
  top: 20px;
}
.header .head-info h1,
.header .head-info span {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.header .head-info h1 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 0px;
}
.header .head-info span {
  font-size: 14px;
}
.header .head-name {
  bottom: 70px;
  left: 165px;
  position: absolute;
  color: #5D7895;
}
.header .head-name span {
  font-size: 20px;
  max-width: 200px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.header .like-button-panel {
  bottom: 68px;
  font-size: 0;
  position: absolute;
  right: 4px;
  z-index: 20;
}
@media (max-width: 480px) {
  .header .like-button-panel {
    bottom: 108px;
  }
}
.header .like-button-panel .btn-like {
  color: #FFFFFF;
  font-size: 12px;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/btn-x.png");
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin-left: 9px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}
.header .like-button-panel .btn-like .btn-like-left,
.header .like-button-panel .btn-like .btn-like-right {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  color: #fff;
}
.header .like-button-panel .btn-like .btn-like-left {
  padding-left: 14px;
  padding-right: 10px;
}
.header .like-button-panel .btn-like .btn-like-right {
  padding-left: 10px;
  padding-right: 14px;
}
.header .navmenu {
  position: absolute;
  left: 150px;
  top: 252px;
  height: 32px;
  font-size: 14px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .navmenu {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .header .navmenu {
    width: 50%;
  }
}
.header .navmenu ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.header .navmenu ul li {
  float: left;
  height: 50px;
}
.header .navmenu ul li a {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 15px;
  color: #333;
}
.header .navmenu ul .nav-select-menu {
  width: 100%;
}
.header .head-avatar {
  position: absolute;
  left: 0;
  bottom: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  height: 126px;
  width: 126px;
}
.header .head-avatar img {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 2px;
}
.main {
  padding-top: 20px;
}
@media (min-width: 992px) {
  .main .left-side {
    padding-right: 15px;
  }
  .main .right-side {
    padding-left: 15px;
  }
}
.box {
  margin-bottom: 12px;
}
.box ul {
  list-style: none outside none;
}
.box .inner {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.box .inner .hd {
  background-color: #FAFAFA;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #E6E6E6;
}
.box .inner .hd h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 10px;
  line-height: 35px;
}
.box .inner .hd h3 a {
  color: #333;
}
.box .inner .bd {
  padding: 0 15px;
}
.profile-head .bd {
  padding: 22px 0 20px !important;
}
.profile-head ul {
  margin-left: 6px;
  padding: 0;
}
.profile-head ul li {
  display: inline;
  float: left;
  font-size: 14px;
  height: 48px;
  text-align: center;
  width: 90px;
  border-left: 1px solid #e6e6e6;
}
.profile-head ul li a strong,
.profile-head ul li a span {
  display: block;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  color: #333;
}
.profile-head ul li a strong {
  font-family: "Segoe UI";
  font-size: 28px;
  line-height: 1.1;
  margin-bottom: 6px;
  margin-top: -5px;
  font-weight: normal;
}
.profile-head ul li:first-child {
  border-left: 0 none !important;
}
.box.edu-box .bd {
  padding: 15px 0 15px 110px;
  position: relative;
  overflow: hidden;
}
.box.edu-box a.box-avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  float: left;
  margin-left: -95px;
  clear: both;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.box.edu-box a.box-avatar img {
  width: 100%;
  height: 100%;
}
.box.edu-box .detail {
  margin-top: 10px;
}
.box.edu-box .detail span {
  display: block;
  line-height: 2;
}
.visitor-list-panel.box .bd {
  padding: 0px;
}
.visitor-list-panel.box ul.avatar-list {
  margin: 0px;
  padding: 0px;
  clear: both;
  overflow: hidden;
}
.visitor-list-panel.box ul.avatar-list li {
  margin: 5px 0 0 5px;
  display: inline;
  float: left;
}
.visitor-list-panel.box ul.avatar-list li a.visitor-link {
  display: block;
  height: 90px;
  position: relative;
  width: 90px;
}
.visitor-list-panel.box ul.avatar-list li img {
  width: 90px;
  height: 90px;
  display: block;
}
.visitor-list-panel.box ul.avatar-list .visitor-name-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  word-wrap: break-word;
}
.visitor-list-panel.box ul.avatar-list .visitor-name-bg .visitor-name {
  display: block;
  margin: 0 5px;
  width: 80px;
}
.visitor-list-panel.box .more {
  padding: 10px;
}
ul.qz-list {
  list-style: none outside none;
  padding: 0px;
  margin: 0px;
}
ul.qz-list li {
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  margin-bottom: -1px;
}
ul.qz-list li .qz-left {
  margin-top: 3px;
  margin-right: 12px;
  float: left;
}
ul.qz-list li .qz-main {
  line-height: 2;
  overflow: hidden;
}
ul.qz-list li .qz-main h4 {
  font-weight: normal;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 2;
}
.user-feeds-panel {
  font-size: 12px;
  line-height: 1.33;
}
.user-feeds-panel ul.user-feeds {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
.user-feeds-panel ul.user-feeds li.feed-item {
  list-style: none outside none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-bottom: 12px;
  vertical-align: top;
}
.user-feeds-panel ul.user-feeds li.feed-item:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-aside {
  position: relative;
  padding: 15px 10px 0;
  margin-bottom: 12px;
  min-height: 50px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-aside:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-aside .f-nick {
  font-size: 14px;
  line-height: 22px;
  width: 360px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-aside .f-nick a {
  color: #333;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-aside .info-detail span {
  display: inline-block;
  vertical-align: top;
  color: #8c8c8c;
  margin-right: 8px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-aside .info-detail span a {
  color: #8c8c8c;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-info {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin-top: -5px;
  padding: 0 10px 8px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-info:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap {
  background-color: #fafafa;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap p {
  margin: 0px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .ui-icon {
  height: 16px;
  width: 16px;
  margin: 0px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-detail {
  position: relative;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #E6E6E6;
  padding: 5px 10px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-detail a {
  color: #8C8C8C;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-detail .item {
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 6px 8px;
  vertical-align: middle;
  color: #5D7895;
  border-color: #FAFAFA;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-detail .item:hover {
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  padding: 5px 7px;
  text-decoration: none;
  background: none repeat scroll 0 0 #fff;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-detail .item .ui-icon {
  margin-right: 7px;
  vertical-align: -3px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-detail .item-line {
  border-color: #E6E6E6;
  border-style: solid;
  border-width: 0 1px 0 0;
  display: inline-block;
  font-size: 0;
  height: 11px;
  line-height: 0;
  margin-right: 9px;
  overflow: hidden;
  vertical-align: -3px;
  width: 1px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like {
  margin-bottom: 2px;
  padding: 0 0 0 10px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like .icon-btn {
  float: left;
  margin-right: 10px;
  position: relative;
  width: 30px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like .icon-btn a.praise {
  background: none repeat scroll 0 0 #FFF;
  border-color: #E6E6E6;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 6px;
  color: #5D7895;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like .icon-btn a.praise:hover {
  border-color: #D9D9D9;
  background: none repeat scroll 0 0 #FAFAFA;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like .user-list:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like .user-list a.item {
  float: left;
  height: 30px;
  width: 30px;
  margin: 0 10px 10px 0;
  color: #5D7895;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-like .user-list a.item img {
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments {
  padding: 0 10px 12px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item {
  margin-bottom: 4px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd {
  position: relative;
  padding: 0 0 0 40px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .ui-avatar {
  position: absolute;
  left: 0;
  top: 0;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .ui-avatar a {
  color: #5D7895;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .ui-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  vertical-align: top;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .comments-content {
  position: relative;
  line-height: 1.5;
  top: -3px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .comments-content a.qname {
  color: #5D7895;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .comments-content .comments-op {
  position: relative;
  line-height: 18px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .comments-content .comments-op span {
  margin-right: 10px;
  color: #8C8C8C;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-list .comments-item .comments-item-bd .comments-sub {
  padding: 4px 0 0;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster {
  position: relative;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box {
  position: relative;
  z-index: 1;
  padding: 0;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .text-input {
  padding: 2px 3px 2px 10px;
  line-height: 24px;
  min-height: 24px;
  box-shadow: none;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #333333;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .text-input > a {
  cursor: text;
  outline: medium none;
  text-decoration: none;
  color: #8C8C8C;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .c-insert-img,
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .c-quick-comment {
  position: absolute;
  top: 1px;
  height: 28px;
  width: 56px;
  text-align: center;
  border-width: 0 0 0 1px;
  border-color: #E6E6E6;
  border-style: solid;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .c-insert-img a,
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .c-quick-comment a {
  cursor: pointer;
  display: block;
  height: 28px;
  line-height: 27px;
  outline: medium none;
  background: none repeat scroll 0 0 #FFFFFF;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .c-insert-img {
  right: 58px;
}
.user-feeds-panel ul.user-feeds li.feed-item .f-wrap .f-op-wrap .f-comments .comments-poster .comments-box .c-quick-comment {
  right: 1px;
}
.leave-msg > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.leave-msg > ul > li {
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  margin-bottom: -1px;
}
.leave-msg .lvmsg-item {
  position: relative;
  padding: 10px 0px;
}
.leave-msg .lvmsg-item .avatar {
  width: 50px;
  height: 50px;
  float: left;
}
.leave-msg .lvmsg-item .avatar a {
  display: inline-block;
}
.leave-msg .lvmsg-item .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.leave-msg .lvmsg-item .lvmsg-cm {
  margin-left: 65px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-hd {
  height: 23px;
  line-height: 23px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-hd .op {
  float: right;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-hd .op b.line {
  position: relative;
  display: inline-block;
  width: 1px;
  font-size: 0;
  height: 12px;
  line-height: 0;
  overflow: visible;
  color: #444;
  border-right: 1px solid #ddd;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-hd .op .triangle {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-hd .name {
  font-size: 14px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-hd .floor {
  margin-left: 15px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-c {
  margin-top: 5px;
  min-height: 50px;
  color: #444;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-foot {
  padding-top: 8px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-foot .time {
  margin-right: 5px;
}
.leave-msg .lvmsg-item .lvmsg-cm .lvmsg-foot a {
  margin-left: 10px;
}
.leave-msg .lvmsg-item .lvmsg-cm .floor,
.leave-msg .lvmsg-item .lvmsg-cm .time {
  color: #9B9B9B;
}
.experience ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.experience .exp-item > li {
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  margin-bottom: -1px;
}
.experience .exp-item .exp-main {
  padding: 20px 0 10px;
}
.experience .exp-item .exp-main h4 {
  margin: 0;
  padding: 0;
}
.experience .exp-item .exp-main .exp-hd {
  margin-bottom: 10px;
}
.experience .exp-item .exp-main .exp-hd:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.experience .exp-item .exp-main .exp-hd .cmp-logo {
  display: inline-block;
  width: 100px;
  height: 60px;
  background-color: #6BB9C9;
  padding: 10px;
  border-radius: 4px;
  float: left;
}
.experience .exp-item .exp-main .exp-hd .cmp-logo img {
  width: 80px;
  height: 40px;
}
.experience .exp-item .exp-main .exp-hd .cmp-info {
  margin: 0 0 0 110px;
}
.experience .exp-item .exp-main .exp-hd .cmp-info h4 {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
}
.experience .exp-item .exp-main .exp-hd .cmp-info .job-title {
  height: 20px;
  line-height: 20px;
}
.experience .exp-item .exp-main .exp-hd .cmp-info .job-title span {
  margin-right: 20px;
}
.experience .exp-item .exp-main .exp-bd .prj-main {
  margin-bottom: 20px;
}
.experience .exp-item .exp-main .exp-bd .prj-main h4 {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
}
.experience .exp-item .exp-main .exp-bd .prj-main .prj-c dl {
  margin: 0;
  padding: 0;
}
.experience .exp-item .exp-main .exp-bd .prj-main .prj-c dl dt {
  width: 60px;
  float: left;
  font-weight: normal;
  line-height: 1.5;
}
.experience .exp-item .exp-main .exp-bd .prj-main .prj-c dl dd {
  margin-left: 65px;
  margin-bottom: 5px;
  line-height: 1.5;
}
.experience .exp-item .exp-main .exp-bd .prj-main .prj-c dl dd:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.ui-icon {
  height: 19px;
  width: 16px;
  line-height: 19px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  background-image: url("../img/35.32-jan140328202201.png");
}
.icon-icenter {
  background-position: -690px -150px;
}
.icon-homepage {
  background-position: -715px 0;
}
.icon-friend {
  background-position: -690px -175px;
}
.icon-application {
  background-position: -715px -25px;
}
.icon-dress-up {
  background-position: -715px -50px;
}
.icon-message {
  background-position: -740px -25px;
}
.icon-search {
  background-position: -740px -50px;
}
.icon-vip {
  background-image: url("../img/qzone-vip.gif");
  width: 22px;
}
.icon-user-setting {
  background-position: -740px 0;
}
.icon-logout {
  background-position: -715px -175px;
}
.ico-music-play {
  background-position: -715px -125px;
}
.ico-music-dynamic {
  background-position: -715px -150px;
  vertical-align: top;
}
.icon-browse {
  background-position: -365px -100px;
}
.icon-comment {
  background-position: -340px -150px;
}
.icon-forward {
  background-position: -340px -175px;
}
.icon-praise {
  background-position: -340px -75px;
}
.icon-feed-delete {
  background-position: -365px -50px;
}
.icon-feed-top {
  background-position: -365px 0;
}
.icon-reply {
  background-position: -390px -75px;
  vertical-align: top;
}
.icon-camera {
  background-position: -590px 0;
  height: 16px;
  width: 16px;
  margin-top: 6px;
}
.icon-flash {
  background-position: -590px -150px;
  width: 18px !important;
}
.sp-btn-like {
  background-image: url("../img/profile.32-tyn140313113554.png");
  background-position: -197px 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
.sp-btn-split {
  background-image: url("../img/profile-tyn140313113554.png");
  background-position: -308px -153px;
  display: inline-block;
  height: 32px;
  width: 2px;
}
.sp-detail-avatar {
  background-image: url("../img/profile.32-tyn140313113554.png");
  background-position: -290px -51px;
  height: 16px;
  width: 16px;
  display: inline-block;
}
.drop-down-arrow {
  border-bottom: 3px dashed rgba(0, 0, 0, 0);
  border-left: 3px dashed rgba(0, 0, 0, 0);
  border-right: 3px dashed rgba(0, 0, 0, 0);
  border-style: solid dashed dashed;
  border-width: 3px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 8px;
  top: 19px;
  width: 0;
}
.divide-line {
  height: 21px;
  margin: 10px 6px 0;
  width: 1px;
  border-right: 1px solid #444;
  display: inline-block;
}
.music-wrapper {
  background-color: #444;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}
.img-round-s {
  border-radius: 2px;
}
.white,
.white a {
  color: #fff;
}
.textoverflow {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
