body {
  font-family: "Helvetica Neue", "Microsoft YaHei", Tohoma;
  font-size: 12px;
  color: #333;
}
body {
  min-height: 2000px;
  padding-top: 50px;
}
.navbar-nav > li > a {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.navbar-right > li > a {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.navbar .logo {
  background-image: url("../img/icenter.32-man140324161408.png?");
  background-position: 0 0;
  height: 41px;
  line-height: 123px;
  overflow: hidden;
  width: 90px;
  margin-right: 15px;
}
.navbar .avatar {
  margin: 0 10px;
}
.navbar .my-nav-toggle {
  float: none;
  padding: 7px 10px;
}
.navbar .my-nav-toggle span {
  font-size: 15px;
}
@media (max-width: 992px) {
  .navbar .my-nav-toggle {
    display: block;
  }
}
.my-dropdown-panel {
  background-clip: padding-box;
  background-color: #222;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  left: auto;
  right: 0;
  list-style: none outside none;
  margin-top: 1px;
  min-width: 160px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding: 15px 15px 0px;
}
.background-container {
  background-attachment: scroll;
  background-image: url("../img/72019_top.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.header {
  background: none no-repeat scroll 0% 0% transparent;
  height: 300px;
}
.header .container {
  position: relative;
  height: 100%;
}
.header .head-info {
  color: #5D7895;
  position: absolute;
  left: 0;
  top: 20px;
}
.header .head-info h1,
.header .head-info span {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.header .head-info h1 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 0px;
}
.header .head-info span {
  font-size: 14px;
}
.header .head-name {
  bottom: 70px;
  left: 165px;
  position: absolute;
  color: #5D7895;
}
.header .head-name span {
  font-size: 20px;
  max-width: 200px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.header .like-button-panel {
  bottom: 68px;
  font-size: 0;
  position: absolute;
  right: 4px;
  z-index: 20;
}
@media (max-width: 480px) {
  .header .like-button-panel {
    bottom: 108px;
  }
}
.header .like-button-panel .btn-like {
  color: #FFFFFF;
  font-size: 12px;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/btn-x.png");
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin-left: 9px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}
.header .like-button-panel .btn-like .btn-like-left,
.header .like-button-panel .btn-like .btn-like-right {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  color: #fff;
}
.header .like-button-panel .btn-like .btn-like-left {
  padding-left: 14px;
  padding-right: 10px;
}
.header .like-button-panel .btn-like .btn-like-right {
  padding-left: 10px;
  padding-right: 14px;
}
.header .navmenu {
  position: absolute;
  left: 150px;
  top: 252px;
  height: 32px;
  font-size: 14px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .navmenu {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .header .navmenu {
    width: 50%;
  }
}
.header .navmenu ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.header .navmenu ul li {
  float: left;
  height: 50px;
}
.header .navmenu ul li a {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 15px;
  color: #333;
}
.header .navmenu ul .nav-select-menu {
  width: 100%;
}
.header .head-avatar {
  position: absolute;
  left: 0;
  bottom: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  height: 126px;
  width: 126px;
}
.header .head-avatar img {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 2px;
}
.main {
  padding-top: 20px;
}
@media (min-width: 992px) {
  .main .left-side {
    padding-right: 15px;
  }
  .main .right-side {
    padding-left: 15px;
  }
}
.box {
  margin-bottom: 12px;
}
.box ul {
  list-style: none outside none;
}
.box .inner {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.box .inner .hd {
  background-color: #FAFAFA;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #E6E6E6;
}
.box .inner .hd h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 10px;
  line-height: 35px;
}
.box .inner .hd h3 a {
  color: #333;
}
.box .inner .bd {
  padding: 0 15px;
}
.profile-head .bd {
  padding: 22px 0 20px !important;
}
.profile-head ul {
  margin-left: 6px;
  padding: 0;
}
.profile-head ul li {
  display: inline;
  float: left;
  font-size: 14px;
  height: 48px;
  text-align: center;
  width: 90px;
  border-left: 1px solid #e6e6e6;
}
.profile-head ul li a strong,
.profile-head ul li a span {
  display: block;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  color: #333;
}
.profile-head ul li a strong {
  font-family: "Segoe UI";
  font-size: 28px;
  line-height: 1.1;
  margin-bottom: 6px;
  margin-top: -5px;
  font-weight: normal;
}
.profile-head ul li:first-child {
  border-left: 0 none !important;
}
.box.edu-box .bd {
  padding: 15px 0 15px 110px;
  position: relative;
  overflow: hidden;
}
.box.edu-box a.box-avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  float: left;
  margin-left: -95px;
  clear: both;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.box.edu-box a.box-avatar img {
  width: 100%;
  height: 100%;
}
.box.edu-box .detail {
  margin-top: 10px;
}
.box.edu-box .detail span {
  display: block;
  line-height: 2;
}
.visitor-list-panel.box .bd {
  padding: 0px;
}
.visitor-list-panel.box ul.avatar-list {
  margin: 0px;
  padding: 0px;
  clear: both;
  overflow: hidden;
}
.visitor-list-panel.box ul.avatar-list li {
  margin: 5px 0 0 5px;
  display: inline;
  float: left;
}
.visitor-list-panel.box ul.avatar-list li a.visitor-link {
  display: block;
  height: 90px;
  position: relative;
  width: 90px;
}
.visitor-list-panel.box ul.avatar-list li img {
  width: 90px;
  height: 90px;
  display: block;
}
.visitor-list-panel.box ul.avatar-list .visitor-name-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  word-wrap: break-word;
}
.visitor-list-panel.box ul.avatar-list .visitor-name-bg .visitor-name {
  display: block;
  margin: 0 5px;
  width: 80px;
}
.visitor-list-panel.box .more {
  padding: 10px;
}
ul.qz-list {
  list-style: none outside none;
  padding: 0px;
  margin: 0px;
}
ul.qz-list li {
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  margin-bottom: -1px;
}
ul.qz-list li .qz-left {
  margin-top: 3px;
  margin-right: 12px;
  float: left;
}
ul.qz-list li .qz-main {
  line-height: 2;
  overflow: hidden;
}
ul.qz-list li .qz-main h4 {
  font-weight: normal;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 2;
}
.ui-icon {
  height: 19px;
  width: 16px;
  line-height: 19px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  background-image: url("../img/35.32-jan140328202201.png");
}
.icon-icenter {
  background-position: -690px -150px;
}
.icon-homepage {
  background-position: -715px 0;
}
.icon-friend {
  background-position: -690px -175px;
}
.icon-application {
  background-position: -715px -25px;
}
.icon-dress-up {
  background-position: -715px -50px;
}
.icon-message {
  background-position: -740px -25px;
}
.icon-search {
  background-position: -740px -50px;
}
.icon-vip {
  background-image: url("../img/qzone-vip.gif");
  width: 22px;
}
.icon-user-setting {
  background-position: -740px 0;
}
.icon-logout {
  background-position: -715px -175px;
}
.ico-music-play {
  background-position: -715px -125px;
}
.ico-music-dynamic {
  background-position: -715px -150px;
  vertical-align: top;
}
.sp-btn-like {
  background-image: url("../img/profile.32-tyn140313113554.png");
  background-position: -197px 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
.sp-btn-split {
  background-image: url("../img/profile-tyn140313113554.png");
  background-position: -308px -153px;
  display: inline-block;
  height: 32px;
  width: 2px;
}
.sp-detail-avatar {
  background-image: url("../img/profile.32-tyn140313113554.png");
  background-position: -290px -51px;
  height: 16px;
  width: 16px;
  display: inline-block;
}
.drop-down-arrow {
  border-bottom: 3px dashed rgba(0, 0, 0, 0);
  border-left: 3px dashed rgba(0, 0, 0, 0);
  border-right: 3px dashed rgba(0, 0, 0, 0);
  border-style: solid dashed dashed;
  border-width: 3px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 8px;
  top: 19px;
  width: 0;
}
.divide-line {
  height: 21px;
  margin: 10px 6px 0;
  width: 1px;
  border-right: 1px solid #444;
  display: inline-block;
}
.music-wrapper {
  background-color: #444;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}
.img-round-s {
  border-radius: 2px;
}
.white,
.white a {
  color: #fff;
}
.textoverflow {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
